        <div class="row-fluid">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Folder Name</label>
                    <input class="form-control" type="text" [(ngModel)]="task.folderName"/>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" [(ngModel)]="task.name"/>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" type="text" [(ngModel)]="task.description" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <span class="pull-left">
                        <span class="btn btn-default" (click)="onDelete()">Delete</span>
                    </span>
                    <span class="pull-right">
                        <span class="btn btn-default" (click)="onSave()">Save</span>
                        <span class="btn btn-default" (click)="onSaveNew()">Save &amp; New</span>
                        <span class="btn btn-default" (click)="onCancel()">Cancel</span>
                    </span>
                </div>
            </div>
        </div>
